body {
  margin: 0;
  padding: 0;
  font-family: "Alata", sans-serif;
}

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  text-align: center;
  color: blue;

  padding: 14px;
  text-decoration: none;
}

.users-a {
  color: blue;
}
div.scrollmenu a:hover {
  background-color: #777;
}

.squares {
  padding: 60px 0 0 0;
}

.squares > div {
  width: 60px;
  height: 60px;
  margin: 10px;
}

.rectangles {
  top: 100px;
  padding: 100px 0 0 0;
}
.rectangles > div {
  width: 140px;
  height: 60px;
  margin: 50px 10px;
  padding: 5px;
  background: #cab;
  transform: rotate(90deg) translateY(80px);
  transform-origin: right top;
}

//@at-root

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

//@at-root

body table {
  width: 100%;
  margin-top: 10px;
  border: solid 1px #e4e4e4;
  border-radius: 3px;
}

body table thead {
  font-size: 18px;
  font-weight: bold;
}

body table tr td,
th {
  /* border: solid 1px #e4e4e4; */
  text-align: center;
}

#shifts {
  min-width: 150px;
}

.endereco {
  display: none;
}

table {
  background-color: #f8f9fa;
}

td .btn {
  min-width: 100px;
  max-width: 100px;
}

div.scrollmenu {
  background-color: #f8f9fa;
  max-width: auto;
  overflow: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

div.user-scrollmenu {
  background-color: #f8f9fa;
  max-width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}
div.scrollmenu tr {
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#details-card {
  display: none;
}

.user-cards {
  height: 70px;
  width: 100%;
}

.sm-btn {
  float: none;
}

.user-cards-text {
  font-size: 10px;
  padding-top: 100px;
}

.user-icons {
  height: 70px;
  width: 32%;
  margin-right: 14px;
  float: left;
  display: block;
}

footer {
  margin-top: 160px;
}

.user-image-circle {
  max-width: 75px;
  max-height: 75px;
  border: 3px solid #fff;
  border-radius: 150px;

  /* offset-x | offset-y | blur-radius | spread-radius | color */
}

.active-circle {
  box-shadow: 0 0 0 2px #09e04d;
}

#upload-photo {
  color: white;
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 100px;
  padding-right: 10px;
}

#custom-upload-text {
  text-align: center;
  text-align: justify;
  text-align: justify-all;
}

#profile-image {
  border-radius: 100px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.image-preview {
  width: 300px;
  min-height: 100px;
  border: 2px solid #ddd;
  margin-top: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #ccc;
}

.image-preview__image {
  display: none;
  width: 100%;
}


/* Medium devices (tablets) */

@media (min-width: 768px) {
  #details-card {
    display: block;
    width: auto;
  }
}

/* Large devices (desktops) */

@media (min-width: 992px) {
  .user-cards {
    height: 70px;
    width: 32%;
    margin-right: 12px;
  }
  footer {
    margin-top: 0px;
  }
}

/* Extra large devices (large desktops) */

@media (min-width: 1200px) {
  body {
    /* background: yellow; */
    margin-right: 14px;
  }
}

/* The given screen size or smaller */

/* Extra small devices (portrait phones)*/

@media (max-width: 575px) {
}

/* Small devices (landscape phones)*/

/* @media (max-width: 5775px) {
  body {
    background-color: purple;
  }
} */

/* Medium devices (tablets)*/

@media (max-width: 767px) {
}

/* Large devices (desktops)*/

@media (max-width: 1199px) {
}

.alerts-position {
  position: relative;
  height: 50px;
  z-index: 10;
}

